.App{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: fixed;
}

.div1{
width: 100%;
height: 86%;
padding: 10px;
margin: 0 auto;
display: flex;
align-items: center;

}